body {
  background-image: url("src/app/assets/loginBackground.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  background-attachment: fixed;
}

@media only screen and (max-width: 1350px) {
  body {
    background-size: 250%;
    width: 100%;
    hieght: 100%;
    object-fit: cover;
  }

}
