<div id="background">
  <div id="message-in-chatbox" *ngIf="chatMessages.length != 0">
    <app-chatmessages>
      *ngFor="let messagesExisting of chatMessages"
      [message]="messagesExisting"
      (deleteItemEvent)="getChatMessages()">
    </app-chatmessages>
  </div>

</div>

<form class="Send">
  <input id="textSend" [(ngModel)]="message" type="text" name="message"
         placeholder="Message"/>
  <input id="buttonSend" (click)="sendMessage()" type="submit" value="Send Message"/>
  <input id="buttonGet" (click)="getChatMessages()" type="submit" value="Refresh"/>
</form>

