<div class="view-area">
  <div id="background">
    <div id="messages-in-chatbox">
      <app-chatmessages
        (deleteItemEvent)="getChatMessages()"
        *ngFor="let messagesExisting of chatMessages"
        [chatMessage]="messagesExisting">
      </app-chatmessages>
    </div>
  </div>
</div>

<form class="Send">
  <input [(ngModel)]="message" id="textSend" name="message" placeholder="Message"
         type="text"/>
  <input (click)="sendMessage()" id="buttonSend" type="submit" value="Send Message"/>
  <input (click)="getChatMessages()" id="buttonGet" type="submit" value="Refresh"/>
</form>

