.view-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#background, #messages-in-chatbox {
  border-radius: 10px;
  width: 95vw;
  height: 65vh;
  max-width: 1000px;
}

#background {
  background-color: white;
}

#messages-in-chatbox {
  overflow: auto;
  color: black;
}

.Send {
  width: 90vw;
  margin: 20px;
  display: flex;
  /*padding: 10px;*/
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#textSend {
  max-width: 750px;
  flex-grow: 1;
}

#buttonGet, #buttonSend, #textSend {
  margin: 5px;
  padding: 5px;
}

#buttonSend, #buttonGet {
  min-width: 150px;
}
