h1 {
  font-size: 50px;
  color: black;
}

#message {
  margin: 5px;
  padding: 1px;
  border: 10px;
  border-radius: 5px;
  background-color: dodgerblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
