#background {
  border-radius: 10px;
  background-color: white;
  width: 95vw;
  height: 65vh;
  margin-top: -50px;
}

.Send {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}

#textSend {
  width: 60vw;
}

#buttonSend {
  width: 15vw;
  alignment: right;
}

#buttonGet {
  width: 15vw;
}
