.navStyling {
  display: flex;
  flex-direction: row;
}

.links {
  margin-left: auto;
  display: flex;
}

#dropdownMenuLink {
  width: 160px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



