<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid navStyling">
    <a class="navbar-brand" routerLink="/login">The Community Chat</a>

    <div class="links">
      <!--      <a class="dropdown-item" href="#" routerLink="categories">Categories</a>-->

      <div class="dropdown user">
        <a aria-expanded="false" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" href="#"
           id="dropdownMenuLink" role="button">
          User Links
        </a>
        <ul aria-labelledby="dropdownMenuLink" class="dropdown-menu">
          <li><a *ngFor="let routes of userRoutes" class="dropdown-item" href="#" routerLink={{routes}}>{{routes |
            titlecase}}</a></li>
        </ul>
      </div>


    </div>
    <div class="navbar" id="navbarNav">
    </div>

  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
