form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input, h1 {
  padding: 10px;
  margin: 10px;
}

input {
  width: 300px;
}

h1 {
  background-color: #1c1d1f;
}

